<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NightGlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NightGlow.Properties.Settings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemperatureStep" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TemperatureMin" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="TemperatureMax" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="BrightnessStep" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="BrightnessMin" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="BrightnessMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HotKeyBrightnessInc" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyBrightnessDec" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyTemperatureInc" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyTemperatureDec" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyBrightTempInc" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyBrightTempDec" serializeAs="String">
                <value />
            </setting>
            <setting name="DdcConfigJson" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowBrightTempPopup" serializeAs="String">
                <value>False</value>
            </setting>
        </NightGlow.Properties.Settings>
    </userSettings>
</configuration>